@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {

  --fundo-primario: #0F1117;
  --fundo-segundario: #141824;
  --cards: #1A1D26;
  --campos-primarios: #222633;
  --campos-borda: #2F3445;
  --saldo-positivo: #22C55E;
  --saldo-positivo-hover: #16A34A;
  --luz-positiva: #86EFAC;
  --saldo-negativo: #EF4444;
  --luz-negativa: #F87171;
  --texto-primario: #E5E7EB;
  --texto-segundario: #9CA3AF;
  --sombras: 0 10px 25px rgba(0, 0, 0, 0.3);

  --font-primaria: 'Playfair Display', serif;
}

body{
    background-color: var(--fundo-primario);
    color: var(--texto-primario);
    font-family: var(--font-primaria);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_titulo{
 border-bottom: solid 1px var(--campos-borda);
 padding: 0 12rem;
 margin-bottom: 2em;
}

.titulo{
  padding: 0.5em 0;
  font-size: 2rem;
}

.div_saldo{
    background-color: var(--fundo-segundario);
    padding: 2em 0;
    text-align: center;
    border-radius: 15px;
}

.subtitulo_saldo{
    font-size: 1.2em;
    margin-bottom: 0.5em;
    border-bottom: solid 1px var(--campos-borda);
    padding: 0 15em 1em 15em;
}

input{
    background-color: var(--campos-primarios);
    border: solid 1px var(--campos-borda);
    color: var(--texto-primario);
    padding: 0.5em;
    border-radius: 4px;
}

.input{
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: 1em;
}

.secao_movimento{
    background-color: var(--fundo-segundario);
    padding: 2em;
    border-radius: 15px;
    margin-top: 2em;
    width: 100%;
    max-width: 500px;
}

.input_movimento{
    padding: 0.5em 20em 0.5em 0;
    background-color: var(--campos-primarios);
    color: var(--texto-primario);
    border: solid 1px var(--campos-borda);
    border-radius: 4px;
}

.input_descricao{
    padding: 0.5em 20em 0.5em 0;
    background-color: var(--campos-primarios);
    color: var(--texto-primario);
    border: solid 1px var(--campos-borda);
    border-radius: 4px;
}

.valor-data{
    display: flex;
    gap: 1em;
    align-items: center;
} 

.botao_adicionar{
    background-color: var(--saldo-positivo);
    color: var(--texto-primario);
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-radius: 4px;
    cursor: pointer;
}